.loginContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 1;
}
.lgoinBase{
    height: 100%;
    position: relative;
}
.loginBox{
    width: 400px;
    height: 250px;
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 20px;
}
.loginBox input{
    width: 220px;
    margin: 20px 90px;
}
.loginBox button{
    margin-top: 20px;
    margin-left: 90px;
    width: 220px;
}
.loginClose{
    position: absolute;
    right: 10px;
    top: 10px;
}
.loginClose{
    cursor: pointer;
}